<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">

      {% comment %}
       This enables Windy widget - https://embed.windyty.com/embedmake.html
       52.95,-01.18 - Nottingham, 50,20 - Krakow
      {% endcomment %}
<iframe src="https://embed.windyty.com/?52.95,-01.18,5
in:12,clouds,message,marker,metric.wind.m/s" width="250" height="300" 
frameborder="1"></iframe>

<iframe src="https://embed.windyty.com/?50.1,19.9,5
in:12,clouds,message,marker,metric.wind.m/s" width="150" height="200" 
frameborder="1"></iframe>

      <a href="https://twitter.com/LKBLab" class="twitter-follow-button" data-show-count="false" data-size="medium">Follow me on twitter</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      <h2>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h2>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href= "https://github.com/DfAC">GitHub</a>
  
     </nav>

    
  </div>
  
</div>
